[2019-08-29 03:55] JiaxiangBU opened #1 "here::here 使用"
### 简述问题

家翔哥，看你代码里面经常用here   但是我看不懂怎么用，好尴尬

![image](https://user-images.githubusercontent.com/15884785/63909019-dec41700-ca53-11e9-9bb7-34cc4ca7ca8a.png)

我运行here  总是返回这个路径   我看了一下，这个路径下有一个r历史的文件   是不是和这个有关系

### 希望输出的结果

嗯，这是一个相对路径管理的包，我晚点给你讲一下。tutoring 这个项目关了哈哈。。。issue 的话，你可以在这里提交 https://github.com/JiaxiangBU/tutoring2

稍等我公开后，跟你说。

这是RStudio 一个人写的

### 过程中产生的报错 (可选)

...

遇到报错的时候，推荐采用 debugg

[2019-08-29 03:57] JiaxiangBU commented on #1
@slsongge 我晚点补充。

[2019-08-31 09:34] slsongge opened #2 "Python中groupby+agg框架中，如何自定义levels[1]的列名？"
### 问题
目前我只会用循环去实现将levels[1]的列名更换，但是我希望使用类似下图橙框区域内的代码（即直接在agg后面写代码实现）实现自定义levels[1]的列名（当然这代码是错误的哈，就是想问有没有类似的方法做到），如下图：

![image](https://user-images.githubusercontent.com/36298417/64062061-1b8b3c00-cc15-11e9-8e96-c60dbef6f404.png)

### 代码
[code]

@JiaxiangBU  辛苦家翔哥！！！

[2019-08-31 11:43] slsongge commented on #2
@JiaxiangBU   家翔哥，我找了好久，找了一个相对简单的方法，但是还不是我想要的（或许就没有我想要的方法，只能是像下图一样替换）。

![image](https://user-images.githubusercontent.com/36298417/64063492-4f6f5d00-cc27-11e9-990c-289d6afb4bf2.png)

[2019-09-02 03:49] JiaxiangBU opened #3 "Kaggle 验证 local validation"
### 简述问题

https://jiaxiangbu.github.io/learn_kaggle/learning_notes.html#new-york-city-taxi-fare-prediction

点开每个 Playground 对应的 Notebook 链接。
在 Output 模块就是成绩，可以下载下来验证 local validation。

传图失败。

### 希望输出的结果

可以进行下超参数等，只要本地 local 有提升，测试下在 board 上面是不是有提升。

### 过程中产生的报错 (可选)

...

遇到报错的时候，推荐采用 debugging 思路，定位具体报错信息和报错的函数或者对象，具体可以参考例子
https://jiaxiangbu.github.io/learn_rstudioapi/analysis/rstudio-and-api

[2019-09-02 03:49] JiaxiangBU commented on #3
@winterdumpling 你可以先看下这个。

[2019-09-02 03:51] winterdumpling commented on #3
@jiaxiangBU 吼呀~

[2019-09-02 08:32] #2 closed, assigned to nobody

[2019-09-02 08:34] JiaxiangBU commented on #2
@slsongge 晓松，复现例子见 https://mybinder.org/v2/gh/JiaxiangBU/tutoring2/master?filepath=jinxiaosong%2Fgroup_by%2Fgroupby-apply.ipynb

1. `?pd.DataFrame.unstack` 查询 `unstack` 用法。
2. https://jiaxiangli.netlify.com/2018/02/04/pandas-cookbook/#unstack 查询 `sort_index` 和 `swaplevel` 的用法
3. https://jiaxiangbu.github.io/learn_python/analysis/pandas/learning_notes.html#join-1 查询 apply + lambda 用法

[2019-09-02 08:36] JiaxiangBU commented on #2
Python 代码我记得你之前也问了一些，我直接给你写了下解释~~~应该可以理解的。

[2019-09-02 09:23] JiaxiangBU opened #4 "yolov3 quick start bugs"
### 简述问题

https://github.com/qqwweee/keras-yolo3
家翔，这个 yolov3 我按他的quick start步骤运行总是报错，你看看能运行吗
就是在运行python convert.py yolov3.cfg yolov3.weights model_data/yolo.h5时出错，说buffer
is too small

### 希望输出的结果

debug

### 过程中产生的报错 (可选)

...

遇到报错的时候，推荐采用 debugging 思路，定位具体报错信息和报错的函数或者对象，具体可以参考例子
https://jiaxiangbu.github.io/learn_rstudioapi/analysis/rstudio-and-api-learning-notes.html#section-6.2

在书写 Rmd 文档时

[2019-09-02 09:54] JiaxiangBU commented on #2
李家翔: 但是我觉得步骤好多好麻烦哈哈~
靳晓松: 确实是
李家翔: 你可以想想有没有更加简单的。。。

- [ ] 李家翔: lambda 是核心，后面的估计可以简化！

[2019-09-02 11:15] JiaxiangBU commented on #4
已经解决，closed

[2019-09-02 11:15] #4 closed, assigned to JiaxiangBU

[2019-09-12 03:26] JiaxiangBU opened #5 "Python for 循环"

[2019-09-12 03:26] JiaxiangBU commented on #5
[code]

[2019-09-12 03:26] JiaxiangBU commented on #5
[code]

[2019-09-12 03:27] JiaxiangBU commented on #5
[code]

[2019-09-12 03:28] JiaxiangBU commented on #5
[code]

[2019-09-12 03:28] JiaxiangBU commented on #5
[code]

[code]

[2019-09-12 03:29] JiaxiangBU commented on #5
[code]

[2019-09-12 03:29] JiaxiangBU commented on #5
`iter`

[2019-09-12 03:38] JiaxiangBU opened #6 "NLP XGBoost 不适应的情况"

[2019-09-12 04:09] JiaxiangBU commented on #6
逻辑回归牺牲效率，降低了过拟合的风险。

[2019-09-12 04:13] JiaxiangBU commented on #6
## 比较LR和GBDT，说说什么情景下GBDT不如LR

对于稀疏变量的处理，正则化如果是通过树的深度来惩罚的话，就基本效果很差了。

[2019-09-12 04:20] JiaxiangBU commented on #6
一般来说，图像、NLP等样本量远远小于特征数量的样本，XGBoost 都不适用。 (Fogelson 2019)

样本量远远小于特征数量=>本身就是过拟合的特征，会出现一个特征偶然的和 y 变量拟合得很好。
那么一般来说，CTR我们现在做的 XGB 效果好，就是因为样本量很大而已。

Fogelson, Sergey. 2019. “Extreme Gradient Boosting with Xgboost.” DataCamp. 2019. https://www.datacamp.com/courses/extreme-gradient-boosting-with-xgboost.

[2019-09-16 09:51] JiaxiangBU opened #7 "swap set analysis"
model_1 和 model_2 在同一通过率下，得到两个模型分。

[code]

1. `1`应该逾期率最低
1. `4`应该逾期率最高
1. `2`和`3`介于中间

$1 < 2,3 < 4$ 单调性满足，且差距越大越好？

[2019-09-16 09:52] JiaxiangBU commented on #7
因为是每个通过率，构建一个混淆矩阵，感觉可以建立一个类似于 KS 的指标。

[2019-09-16 10:09] JiaxiangBU commented on #7
1的占比多，因为要考虑体量对么？1的占比高，说明这两个模型相关性高，不太独立。
2 > 3 逾期率，因为认为模型2认为的逾期可信度更高？

[2019-09-17 14:20] JiaxiangBU opened #8 "plan: 关闭项目"
tutoring2 老是有问题，因此最好的方式是关闭项目，代码以**超链接**方式展示。
这个 plan 中。

[2019-09-18 12:24] XuliangSUFE opened #9 "宽表转置成长表"
简单描述你的问题和希望产生的输出结果。
事先可以在以下项目查看是否已经有解决方案

相关问题，assign 给对应 owner，打上对应的标签 label 等。

问题解决后，记得 close。

### 简述问题
数据如下图
![image](https://user-images.githubusercontent.com/49772882/65148098-19691000-da52-11e9-8664-9c6ee06f76f5.png)

...

### 希望输出的结果
将宽表转变为长表
第一列 country name 第二列 time 第一行为series name下的指标。
...

### 过程中产生的报错 (可选)
![Uploading image.png…]()

...

遇到报错的时候，推荐采用 debugging 思路，定位具体报错信息和报错的函数或者对象，具

[2019-09-18 12:32] JiaxiangBU commented on #9
这个地方没明白，因为没找到对应的数据集。 @XuliangSUFE

[2019-09-18 12:32] JiaxiangBU commented on #9
你有尝试 `tidyr::gather` 函数吗？ @XuliangSUFE

[2019-09-18 12:33] XuliangSUFE commented on #9
[Uploading 20190918_kaifanghongguan_nvxing.xlsx…]()

[2019-09-18 12:35] XuliangSUFE commented on #9
有尝试过gather这个但是还是不行，不知道今天怎么回事，github上传东西特别慢

[2019-09-18 13:27] XuliangSUFE commented on #9
![image](https://user-images.githubusercontent.com/49772882/65152708-0d358080-da5b-11e9-84d8-4aae6e13b2d5.png)
学长我想实现的就是如图这样

[2019-09-18 14:04] JiaxiangBU commented on #9
**4.4 解决GitHub访问慢方案** https://jiaxiangbu.github.io/learn_git/output/git-github-gitlab-learning-notes.html
改下 host。 @XuliangSUFE

[2019-09-18 14:49] #9 closed, assigned to nobody

[2019-09-18 14:49] JiaxiangBU commented on #9
@XuliangSUFE 见 commit https://github.com/JiaxiangBU/tutoring2/commit/86e4ee3eb41bf1991ad86ef54deb2b6e72d24ce1

[2019-09-19 03:04] JiaxiangBU commented on #9
正则化你可以看下这个 https://github.com/JiaxiangBU/cheatsheets_print/blob/master/refs/R-related/strings.pdf @XuliangSUFE

[2019-10-15 03:44] JiaxiangBU opened #10 "build-in string function in Python"
build-in string function in Python

[2019-10-15 03:44] JiaxiangBU commented on #10
![image](https://user-images.githubusercontent.com/15884785/66798617-34d81580-ef41-11e9-9355-199771bdd6fd.png)

[2019-10-15 03:50] JiaxiangBU commented on #10
![image](https://user-images.githubusercontent.com/15884785/66798901-f4c56280-ef41-11e9-9930-e973bea6a9c2.png)

[2019-10-15 04:07] JiaxiangBU commented on #10
可以参考下这个 notes https://mybinder.org/v2/gh/JiaxiangBU/tutoring2/master?filepath=jinxiaosong%2Fstring-syntax-python.ipynb @slsongge

[2019-10-15 04:26] slsongge commented on #10
@JiaxiangBU  辛苦家翔哥，我这边应该不能close。

[2019-10-15 07:25] #10 closed, assigned to nobody

[2019-10-17 08:19] JiaxiangBU opened #11 "传感器数据分析"
@小松-风控-北京? kaggle 上有一个数据集是三星手机传感器数据判断人行为。都做了标记。你可以自己研究一下。我当时拿lasso随便跑一下，准确率也有90多。关键是那个数据集里参数几百个。参数名是有意义的，你可以猜猜。对你有帮助。

当前主要的需求就是：通过三列数据（三轴[x y z]加速度）和一列时间（单位s），去聚类（最好是三类[睡觉  行走  吃饭]），当然后期还可以在细分（快速行走、蹲着瞎看）等。

[2019-10-20 05:06] JiaxiangBU opened #12 "pd.set_option 的问题"
[code]

[2019-10-21 03:25] JiaxiangBU opened #13 "一月对于股价的影响是否显著高于二月"
$$y=\beta_1*Jan + \beta_2*Feb$$

1. H0: beta_1=beta_2，想知道一月对于股价的影响是否显著高于二月
1. beta0+beta1是一月的平均价格
1. beta0+beta1是二月的平均价格

所以就是看 $\hat r_{Jan}$ 和 $\hat r_{Feb}$ 孰高孰低。

用 boostrap 的方法，

重复抽样 Jan，建立若干个子样本，算均值，因此可以得到一个均值分布
Feb 类似。

然后去比较两个均值分布的差异。

下面是仿真代码

[code]
[code]

[code]

结果是显著的。

[2019-10-21 03:26] JiaxiangBU commented on #13
[code]

[2019-10-21 18:45] JiaxiangBU commented on #12
@slsongge 可以看这个 notes

https://nbviewer.jupyter.org/github/JiaxiangBU/tutoring2/blob/master/jinxiaosong/analysis/pandas-set_option.ipynb

[2019-10-21 18:45] #12 closed, assigned to nobody

[2019-11-19 02:58] slsongge opened #14 "二分类-自变量区分度很低"
### 简述问题

在一个样本平衡的二分类（预测某疾病的良性和恶性）问题中，自变量的区分度很低，导致模型效果不好，不知道有没有解决方法？

### 数据
该数据与<https://www.kaggle.com/mirichoi0218/classification-breast-cancer-or-not-with-15-ml/data>中的数据及其相似，只不过各自变量的区分度很低。绘制核密度曲线图如下，几乎所有的自变量都是类似下图中箭头所指向的情况：

![image](https://user-images.githubusercontent.com/36298417/69112305-e1666380-0aba-11ea-939c-d878b493a591.png)

然后我尝试了一下决策树（删除了近1000行缺失率高的样本，当然这些样本也可以后续做适当的缺失值填补），训练集1000

[2019-11-19 03:14] JiaxiangBU commented on #14
换复杂模型，如xgboost。
增加样本量。
这两个都尝试下。
复现代码可以看一下？

---原始邮件---
发件人: "Xiaosong.Jin"<notifications@github.com&gt;
发送时间: 2019年11月19日(星期二) 上午10:58
收件人: "JiaxiangBU/tutoring2"<tutoring2@noreply.github.com&gt;;
抄送: "Subscribed"<subscribed@noreply.github.com&gt;;
主题: [JiaxiangBU/tutoring2] 二分类-自变量区分度很低 (#14)

简述问题

在一个样本平衡的二分类（预测某疾病的良性和恶性）问题中，自变量的区分度很低，导致模型效果不好，不知道有没有解决方法？

数据

该数据与https://www.kaggle.com/miricho

[2019-11-21 05:56] JiaxiangBU opened #15 "找到首逾突然变高的用户"
19年7-8月用户，首逾率10+，
逾期1天到9天的分子减去。
2%的水平(首逾率=入催率, 10%)
政策的问题，10月末，逾期率增加，目前需要找到这类用户，进行减息、合规处理。

~~By y By 时间，多分类。~~

@slsongge
参考 https://github.com/JiaxiangBU/mkt_automation2/invitations
思路。

[2019-11-21 06:52] JiaxiangBU commented on #14
查看迭代过程，这是不过拟合了。

| iter| train_auc| test_auc|
|----:|---------:|--------:|
|    1|  0.559419| 0.588944|
|    2|  0.573420| 0.581689|
|    3|  0.609417| 0.606254|
|    4|  0.598823| 0.596964|
|    5|  0.607483| 0.601888|
|    6|  0.612072| 0.626301|
|    7|  0.611898| 0.623196|
|    8|  0.613925| 0.623500|
|    9|  0.614823| 0.628464|
|   10|  0.617525| 0.632278|
|   11|  0.615231| 0.631768|
|   12

[2019-11-21 06:53] JiaxiangBU commented on #14
[code]

这是超参数 @slsongge 你可以参考下，过拟合处理了。

[2019-11-21 06:56] JiaxiangBU commented on #14
![image](https://user-images.githubusercontent.com/15884785/69314361-e8ce6e00-0c6e-11ea-8888-98783c682368.png)

@slsongge 迭代过程都是逐步爬行的，OK 的。

[2019-11-21 07:02] #14 closed, assigned to nobody

[2019-11-21 07:09] JiaxiangBU commented on #14
@slsongge 代码参考 https://github.com/JiaxiangBU/tutoring2/blob/master/jinxiaosong/analysis/tree_model.Rmd

[2019-11-26 02:43] Captain-Pam opened #16 "两层循环的解决方法"
### 简述问题

家祥哥，好！
1，我最近在做个逻辑回归模型（主要是两个函数）。简单介绍回归的过程：数据共有684行471列。第一，二列是要分别用的两个因变量Y。首先用MPB与除MPB_binary的所有列做线性回归，会得出每个变量的p值，对p值进行排序后（不要截距的p值），作为后面第二个Y（MPB_binary）与这些变量逻辑回归加入的顺序。第二次逻辑回归中，每个变量（除MPB）分别依次累积加入逻辑回归模型中MPB_binary ，自变量加入的顺序是按照上面P值得顺序，累积加入是指：`y~a1`,  `y~a1+a2`, `y~a1+a2+a3`,...每个逻辑回归分别进行留一法交叉验证，并计算逻辑回归的AUC。
2，getAUC函数中被注释掉的代码是对预测概率的保存，因为目前这个计算量有点大结果还没出来，我不知道我这样做是不是有错误或者使用不是很好，也烦请家祥哥帮我看看哦！

###

[2019-11-26 07:45] JiaxiangBU commented on #16
[code]

这里我建议使用一下 lasso 和 ridge 进行正则化。 @Cobbybaby

[2019-11-26 08:00] JiaxiangBU commented on #16
[code]

这里是一步交叉验证的方式，但是我觉得可以不需要那么细致，做到 fold=5就差不多了。 @Cobbybaby
因为样本本身不多，这么多的k-fold 会导致每个 bag 的重叠度很高，泛化能力下降。

[2019-11-26 08:05] JiaxiangBU commented on #16
[code]

[code]

这行代码导致每个变量需要跑 684 次 folds 所以很慢，这里换成 k-fold = 5 试试就好了。

[2019-11-26 08:06] JiaxiangBU commented on #16
@Cobbybaby 复现代码见 commit https://github.com/JiaxiangBU/tutoring2/commit/d2294130dd02da412993790bf53f332155969899

[2019-11-27 12:55] Captain-Pam opened #17 "逐步回归AIC问题"
家翔哥，还是上次的数据（第1和第2列一个作为Y就行），只是这次不是用自变量的P值来确定顺序，而是使用AIC值来确定。因此使用逐步回归step或者MAS包中的stepAIC函数来计算，这两个函数基本都是逐步向后回归，返回是一样的形式，我现在得想法是采用stepAIC或step中的第一步start中返回的信息来确定自变量的重要性，返回的信息里有AIC和每个变量去掉后的AIC值，这个AIC列是按照递增的顺序排的吧，这个顺序的逆序就是每个变量的重要程度递减排下来的吧。但是不知道这样是不是正确，还有就是提取这些AIC和变量的问题。谢谢家翔哥！

[2019-11-28 13:47] JiaxiangBU commented on #17
@Cobbybaby 我先做一个测试代码给你，估计晚一点给你。

[2019-12-02 09:33] JiaxiangBU commented on #17
@Cobbybaby 思宇，我觉得这里还是要给一个统一的变量筛选框架，以为这个框架部分的统计值和整体的统计值不太一致，容易导致辛普森悖论。

具体可以参考下 https://jiaxiangbu.github.io/train_model/analysis/simpson_s_paradox.html#遗漏变量

但是这个的代码，我也会帮你完善下。

[2019-12-03 14:45] Captain-Pam commented on #17
谢谢家翔哥，我先看看里面的内容，好像很多我都没学过，正好学习一下

[2019-12-03 15:05] JiaxiangBU commented on #17
好的，回头可以沟通下。

[2019-12-19 14:00] slsongge opened #18 "R实现python的分组+统计+unstack"
### 简述问题
如何用R实现python的如下功能：

[code]

### 数据代码
[code]

[2019-12-23 07:47] JiaxiangBU commented on #18
根据讨论，加上

[code]

即可。

[2019-12-23 07:47] #18 closed, assigned to nobody

[2019-12-31 02:21] #3 closed, assigned to nobody

[2019-12-31 02:21] JiaxiangBU commented on #15
先关闭 issue

[2019-12-31 02:21] #15 closed, assigned to nobody

[2020-01-06 09:23] JiaxiangBU opened #19 "短信文本处理 词向量"
- 代码可以参考这个 repo https://github.com/JiaxiangBU/demo-chinese-text-classification-lstm-keras 如 notebook https://github.com/JiaxiangBU/demo-chinese-text-classification-lstm-keras/blob/master/demo-Bidirectional-LSTM.ipynb
- notes 可以参考 https://jiaxiangbu.github.io/learn_nlp/analysis/text-mining-learning-notes.html

[2020-01-07 06:33] JiaxiangBU opened #20 "stacking notes"
10.2 stacking
https://jiaxiangbu.github.io/learn_kaggle/learning_notes.html

在训练阶段，~~第一层模型~~，只要保证一个样本不被两~~次~~层训练即可

[2020-01-07 16:15] JiaxiangBU commented on #20
没有要求。

最好不。参考华泰证券的研究报告，我回头发你看下。

正常的判断，训练集和测试集的评价指标

至少kfold的交叉验证。

[2020-01-07 16:21] JiaxiangBU commented on #20
模型原理、样本分离都是可以处理的方式，更直接的是在 stacking 的时候使用，证明各个预测值相关性低。
这个可以查看华泰证券这篇研究报告，在之前凤凰金融我们用到过。

*林晓明, 陈烨, and 李子钰. 2018. 人工智能选股之stacking集成学习. 华泰证券股份有限公司.*

具体地见，https://jiaxiangbu.github.io/phoenix-finance/output/fcontest_output30.html

https://github.com/JiaxiangBU/tutoring/issues/54

[2020-01-08 03:50] JiaxiangBU opened #21 "GMM 估计"
是这样的，我的数据样本比较小，只有100-110，T>N，我之前为了处理内生性，就用的Gmm估计，用滞后项为工具变量。现在给我的意见是GMM估计不合适，样本量小，他们也误以为我是一个动态模型（把被解释产量滞后项放方程右边了），让我用简单一点的LS模型做

[2020-01-08 03:51] JiaxiangBU commented on #21
1. `T>N` 不太适合 GMM，一般 GMM 适合宽面板，类似的还有空间计量的。
1. LS模型做，你指的是？
1. T>>N 就是长面板了，就可以用这一类模型，比如 Mean Group 这一类的。

得看看你现在的数据。

最后看到的，动态模型(把被解释产量滞后项放方程右边) 这个是处理内生性，我觉得可以的。

[2020-01-08 03:57] JiaxiangBU commented on #20
https://www.kaggle.com/lijiaxiang/stacking 这个我开源了。

[2020-01-08 06:57] JiaxiangBU commented on #21
我看了你的审稿人的回复。

他针对你的数据(T>N)，把 y lag 加入到自变量其实 Nickell bias 会逐渐减弱，虽然还是有 Bias 的，但是是一致的，你可以具体论述下你的数据量足够，Bias 逐渐减弱了很多就好了。

GMM 他的考虑在于，因为 GMM 是要加很多 y lag 作为矩估计的，也就是说参数过多，自由度不够，得出的结论是不 robust 的，但是没有说不能用。
他倾向于你你给 GMM 结果的同时，把 GMM 前面简单的、过渡的模型结果一起给出来，这样使得你的模型结果没有选择性。

因此

我觉得可以，但是T>N，你这里可以说明下 T>>N，Nickell bias 会逐渐减弱，这样就可以不怎么花心思找工具变量，这个一直都是很麻烦，工具变量要么内生性解决的不够，要么是弱的。

[2020-01-08 07:15] JiaxiangBU commented on #20
k-fold https://jiaxiangbu.github.io/learn_kaggle/learning_notes.html#k-fold **6 K-Fold**

[2020-01-08 08:46] JiaxiangBU opened #22 "SUR 例子"
[code]

<sup>Created on 2020-01-08 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-01-08 08:52] #22 closed, assigned to nobody

[2020-01-08 09:32] JiaxiangBU commented on #21
bias 可以查看 http://fmwww.bc.edu/EC-C/S2013/823/EC823.S2013.nn05.slides.pdf

[2020-01-19 13:36] JiaxiangBU opened #23 "反欺诈相关资料"
一共有两方面

1. 一般是特征变量上 https://github.com/JiaxiangBU/anti_fraud_practice
1. 还有一个就是从算法上考虑的 https://github.com/JiaxiangBU/fraud_detection_autoencoders

这里我给你两方面的资料，都是之前学习的，给你看下。

[2020-01-20 03:24] JiaxiangBU commented on #20
https://jiaxiangbu.github.io/learn_fe/target_encoding_learning_notes.html#%E6%80%BB%E7%BB%93
stacking 的思路和 target encoding 非常类似，我这里举了一个例子，不正确的做 target encoding ，会把一个随机变量弄显著。

[2020-01-20 03:24] JiaxiangBU commented on #20
https://jiaxiangbu.github.io/learn_fe/target_encoding_learning_notes.html#%E6%80%BB%E7%BB%93
stacking 的思路和 target encoding 非常类似，我这里举了一个例子，不正确的做 target encoding ，会把一个随机变量弄显著。

[2020-01-20 03:26] JiaxiangBU commented on #20
@Ricardo627721141 上次跟你说的 stacking 处理方式有些出入，正确的理解是
同一个训练集不要重复使用，是指的是不要再两层，同一层可以重复调用。
https://www.kaggle.com/lijiaxiang/stacking 这是一个 demo。

[2020-02-04 07:27] JiaxiangBU opened #24 "map for columns"
![image](https://user-images.githubusercontent.com/15884785/73722958-c2df4280-4762-11ea-92d3-630fbf2fce69.png)

[2020-02-04 07:31] JiaxiangBU commented on #24
[code]

![image](https://user-images.githubusercontent.com/15884785/73723188-6af50b80-4763-11ea-9981-2ea6fe02eb9e.png)

[2020-02-04 08:33] #24 closed, assigned to nobody

[2020-02-07 03:13] hehuanshu96 opened #25 "R语言学习的模块"
- 前面数据清洗方面，先搞 tidyverse https://jiaxiangbu.github.io/book2tidyverse/book.html
- 然后绘图搞 ggplot2 https://jiaxiangbu.github.io/r_eda/designing_ggplots/learning_notes.html
- 计量看面板数据 https://jiaxiangbu.github.io/learn_longitudinal_analysis/
- 机器学习看 xgboost https://jiaxiangli.netlify.com/2018/02/02/xgboost-r-tutorial/
- 系统 notes https://jiaxiangbu.github.io/r_code/

***

还有一部分使用 purrr 包的部分，比较难，先看完 book2t

[2020-02-08 14:22] JiaxiangBU opened #26 "理解 train、test 和 OOT 的区别和时间区间"
参考 **9 调参思路**
https://jiaxiangbu.github.io/train_model/learning_notes.html

[2020-02-08 14:24] JiaxiangBU commented on #26
这里 train 和 test 可以是同一时间不同的样本。

[2020-02-08 14:26] #26 closed, assigned to nobody

[2020-02-09 10:40] hehuanshu96 commented on #25
install.packages("xgboost", repos="http://dmlc.ml/drat/", type = "source")
Warning in install.packages :
  unable to access index for repository http://dmlc.ml/drat/src/contrib:
  畸形'<!DOCTYPE html> ...'开头行!
Warning in install.packages :
  package ‘xgboost’ is not available (for R version 3.6.2)

[2020-02-09 10:41] hehuanshu96 commented on #25
无法安装xgboost，标注版本下无法安装

[2020-02-09 12:56] JiaxiangBU opened #27 "无法安装xgboost，标注版本下无法安装"
[code]
_Originally posted by @hehuanshu96 in https://github.com/JiaxiangBU/tutoring2/issues/25#issuecomment-583829971_

[2020-02-09 13:03] JiaxiangBU commented on #27
Xgboost 这个包直接用 R CRAN 的镜像就可以，不需要用'dmlc.ml'的。
其中选择国内的镜像(mirrors.tuna.tsinghua.edu.cn)下载快一些，其中清华的比中科大、同济的都要稳定。

[code]

镜像的设置方法，打开RStudio，点击 Tools，Global Options，Packages，

![image](https://user-images.githubusercontent.com/15884785/74102531-290eff80-4b7f-11ea-8c2e-dbd4d83291df.png)

更多参考 https://jiaxiangli.netlify.com/2017/12/08/r-rstudio/

如果还不行的话，下次跑这行命令`sessionInfo()`，把输出都复制上来我看下。

[2020-02-10 00:05] hehuanshu96 commented on #27
搞定啦。多谢

[2020-02-10 02:05] hehuanshu96 opened #28 "R计量结果输出，类似STATA中的outreg2命令。多谢啦"
「洪七：找到一个，不好的地方是R输出为html，但用word打开貌似还可以的样子」
- - - - - - - - - - - - - - -
是的就是这个样子的，这是一种，还有一个是 rstudio官方的 gt，也可以，打死你不是完全打印体

R计量结果输出，类似STATA中的outreg2命令。多谢啦

问题解决后，记得 close。

[2020-02-10 03:02] JiaxiangBU commented on #28
- stargazer 参考这个 notes https://jiaxiangbu.github.io/learn_stargazer/learn_notes.html
- gt 参考项目 https://github.com/JiaxiangBU/learn_gt

@hehuanshu96

[2020-02-10 03:03] JiaxiangBU commented on #27
@hehuanshu96 issue closed

[2020-02-10 03:03] #27 closed, assigned to nobody

[2020-02-11 01:07] hehuanshu96 opened #29 "gt 安装"
[code]

[2020-02-11 04:19] JiaxiangBU commented on #29
参考 GitHub 项目主页 https://github.com/rstudio/gt

因为这个包还没有在 R CRAN 上发布，所以用下面这个安装方式。

[code]

安装前先保证安装`remotes`包 @hehuanshu96

[2020-02-13 10:52] #29 closed, assigned to JiaxiangBU

[2020-02-13 10:53] #28 closed, assigned to JiaxiangBU

[2020-02-13 10:53] #25 closed, assigned to JiaxiangBU

[2020-02-15 14:44] slsongge opened #30 "数据框某列分段方法"
### 问题
在python中，对数据框的某列使用if-else语法进行分段？

### 代码
[code]

[2020-02-15 15:48] JiaxiangBU commented on #30
https://github.com/JiaxiangBU/tutoring2/issues/30

[code]

[code]

[code]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <

[2020-02-15 15:51] JiaxiangBU commented on #30
@slsongge 晓松，见 commit https://github.com/JiaxiangBU/tutoring2/commit/cffbe1df7e1d824a58be2aff3eb3dae4b1d0f8e6 见 [notebook](https://mybinder.org/v2/gh/JiaxiangBU/tutoring2/master?filepath=jinxiaosong%2Fif-else.ipynb)

[2020-02-15 16:05] #30 closed, assigned to JiaxiangBU

[2020-02-18 08:46] JiaxiangBU opened #31 "Python 引入同一个包的两个版本"
继续问题 https://github.com/pyecharts/pyecharts/issues/1364#issuecomment-587299673

[code]

虽然 xxx1 和 xxx2 都是一样的函数，但是可以用不同名字调用，这样就不冲突了。

或者你找到对应的函数脚本`.py`，测试一下，我封装好给你。

这个地方告诉下，Python都是引入模块，你把老版本的模块引入进来就好了，做好 as 就好了。

比如

[code]

[2020-02-18 14:20] JiaxiangBU commented on #31
![image](https://user-images.githubusercontent.com/15884785/74744197-c4e5ed00-529c-11ea-8ab1-f546c05d7469.png)

修改老版本的报名，本地安装 @slsongge

[2020-02-18 14:20] #31 closed, assigned to JiaxiangBU

[2020-02-18 16:32] JiaxiangBU commented on #31
@slsongge 按照你目前的环境，跑通一个 notebook 给我就好~~其中的函数，复制到 notebook 即可。

[2020-02-18 16:32] #23 closed, assigned to nobody

[2020-02-18 16:33] #21 closed, assigned to nobody

[2020-02-18 16:33] #20 closed, assigned to nobody

[2020-02-18 16:35] #19 closed, assigned to JiaxiangBU

[2020-02-18 16:35] #17 closed, assigned to Captain-Pam

[2020-02-18 16:35] #16 closed, assigned to Captain-Pam

[2020-02-18 16:36] #13 closed, assigned to nobody

[2020-02-18 16:36] #11 closed, assigned to nobody

[2020-02-20 11:57] JiaxiangBU opened #32 "spread 函数 key 有重复值"
================
Jiaxiang Li
2020-02-20

[code]

    ## -- Attaching packages ---------------------------------------------------------------- tidyverse 1.2.1 --

    ## √ ggplot2 3.2.1     √ purrr   0.3.3
    ## √ tibble  2.1.3     √ dplyr   0.8.3
    ## √ tidyr   0.8.3     √ stringr 1.4.0
    ## √ readr   1.3.1     √ forcats 0.4.0

    ## Warning: package 'ggplot2' was built under R version 3.6.

[2020-02-20 15:56] #32 closed, assigned to nobody

[2020-02-21 15:21] slsongge opened #33 "针对tibble中的数值型数据，如何自定义保留小数位数？"
### 问题
下图中红框内的数值如何自定义保留小数点位数？
![image](https://user-images.githubusercontent.com/36298417/75046433-075b3400-5500-11ea-80a5-af02889894ad.png)

### 数据
[df_01_2.zip](https://github.com/JiaxiangBU/tutoring2/files/4236692/df_01_2.zip)

### 代码
[code]

### 我当前的解决方法
[code]
我的解决方法返回的结果如下图，其中红框的内容不知道为啥保留了一位小数？
![image](https://user-images.githubusercontent.com/36298417/75046802-bb5cbf00-5500-11ea-9cf2-27cfe

[2020-02-21 15:49] JiaxiangBU commented on #33
@slsongge

[code]

[code]

[code]

    ## Parsed with column specification:
    ## cols(
    ##   race = col_character(),
    ##   classtype = col_double(),
    ##   yearssmall = col_double(),
    ##   hsgrad = col_double(),
    ##   g4math = col_double(),
    ##   g4reading = col_double(),
    ##   kinder = col_character()
    ## )

[code]

| race  | classtype | yearssmall | hsgrad | g4math | g4r

[2020-02-22 03:12] hehuanshu96 opened #34 "Error in `[.data.frame`(obj, ii, j, drop = FALSE) : undefined columns selected"
简单描述你的问题和希望产生的输出结果。
事先可以在以下项目查看是否已经有解决方案

remotes::install_github("GuangchuangYu/nCov2019")

library(nCov2019)
setwd("F:/rwork/covid2019")
library(nCov2019)
x <- load_nCov2019()
library(dplyr)
for (i in unique(x[["data"]][["province"]])) {
  dat.temp <- x[i, c(1:6, 9:11)] %>%
    write.csv(file = paste(i,'.csv',sep = ''))
}

问题：Error in `[.data.frame`(obj, ii, j, drop = FALSE) :
  undefined column

[2020-02-22 04:08] JiaxiangBU commented on #34
@hehuanshu96

[code]

[code]

    ## Warning: package 'dplyr' was built under R version 3.6.1

    ##
    ## Attaching package: 'dplyr'

    ## The following objects are masked from 'package:stats':
    ##
    ##     filter, lag

    ## The following objects are masked from 'package:base':
    ##
    ##     intersect, setdiff, setequal, union

[code]

[code]

    ## [1] "data.frame"

[code]

    #

[2020-02-22 04:09] #33 closed, assigned to nobody

[2020-02-22 14:06] hehuanshu96 commented on #34
+   dat.temp <- x[["data"]][i, c(1:6, 9:11)] %>%
+     write.csv(file = file.path("covid2019/data", paste(i, '.csv', sep = '')))
+ }
Error in `[.data.frame`(x[["data"]], i, c(1:6, 9:11)) :
  undefined columns selected

[2020-02-23 06:49] JiaxiangBU opened #35 "code reproduction <https://lexparsimon.github.io/coronavirus/>"
[code]

`wuruiqi/coronavirus.ipynb` 这是复现的 notebook，我 reformat 了代码。

[code]

    ---------------------------------------------------------------------------

    NameError                                 Traceback (most recent call last)

    <ipython-input-7-aa271ab2f1eb> in <module>
          2
          3 # initialize the population vector from the origin-destination flow matrix
    ----> 4 N_k

[2020-02-23 06:55] JiaxiangBU commented on #35
https://github.com/JiaxiangBU/tutoring2/invitations 我发了项目邀请，可以直接传数据到对应的文件夹 `wuruiqi`

[2020-02-23 07:26] JiaxiangBU commented on #25
* [R 数据导入学习笔记](https://jiaxiangbu.github.io/r_code/analysis/import-data-learning-notes.html)
* [R 函数化编程学习笔记](https://jiaxiangbu.github.io/r_code/analysis/func-progmm-learning-notes.html)
* [R 数据清洗学习笔记](https://jiaxiangbu.github.io/r_code/analysis/cleaning-data-learning-notes.html)

[2020-02-23 07:39] JiaxiangBU commented on #34
@hehuanshu96

[code]

    ## -- Attaching packages -------------------------------------------------------------- tidyverse 1.2.1 --

    ## √ ggplot2 3.2.1     √ purrr   0.3.3
    ## √ tibble  2.1.3     √ dplyr   0.8.3
    ## √ tidyr   0.8.3     √ stringr 1.4.0
    ## √ readr   1.3.1     √ forcats 0.4.0

    ## Warning: package 'ggplot2' was built under R version 3.6.2

    ## Warning: package 'p

[2020-02-23 14:57] hehuanshu96 commented on #34
[Workspace loaded from F:/rwork/.RData]

-- Attaching packages --------------------------------------- tidyverse 1.3.0 --
√ ggplot2 3.2.1     √ purrr   0.3.3
√ tibble  2.1.3     √ dplyr   0.8.4
√ tidyr   1.0.2     √ stringr 1.4.0
√ readr   1.3.1     √ forcats 0.4.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag(

[2020-02-23 15:00] hehuanshu96 commented on #34
Warning message:
In dir.create(data_path, recursive = TRUE) : 'data'已存在

+   x[["data"]][i, c(1:6, 9:11)] %>%
+     write_excel_csv(file.path(data_path, paste(i, '.csv', sep = '')))
+ }
Error in `[.data.frame`(x[["data"]], i, c(1:6, 9:11)) :
  undefined columns selected

[2020-02-23 15:00] hehuanshu96 commented on #34
[Workspace loaded from F:/rwork/.RData]

-- Attaching packages --------------------------------------- tidyverse 1.3.0 --
√ ggplot2 3.2.1     √ purrr   0.3.3
√ tibble  2.1.3     √ dplyr   0.8.4
√ tidyr   1.0.2     √ stringr 1.4.0
√ readr   1.3.1     √ forcats 0.4.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag(

[2020-02-23 18:05] JiaxiangBU commented on #34
前面的`sessionInfo()`我进行了删除，为了你每次打开这个issue简洁和快一些。

[code]

[code]

[code]

    ## Warning in dir.create(data_path, recursive = TRUE): 'data'已存在

[code]

[code]

    ## data/上海.csv  data/云南.csv  data/内蒙古.csv data/北京.csv  data/台湾.csv  data/吉林.csv
    ## data/四川.csv  data/天津.csv  data/宁夏.csv  data/安徽.csv  data/山东.csv  data/山西.csv
    ## data/广东.csv  data/广西.csv  data/新疆.csv  data/江苏.csv  data/江西.csv  da

[2020-02-24 13:14] hehuanshu96 commented on #34
[code]

这个运行没有问题。就是保存的excel是空表格

[2020-02-24 13:14] hehuanshu96 opened #36 "关于Git简易教程以及我这边安装没有公密钥（Git (2.25.1) 64-bit version of Git for Windows. ）"
参考 https://jiaxiangbu.github.io/learn_git/output/git-github-gitlab-learning-notes.html

[2020-02-24 13:16] hehuanshu96 commented on #36
关于Git简易教程以及我这边安装没有公密钥（Git (2.25.1) 64-bit version of Git for Windows. ）

[2020-02-24 13:48] JiaxiangBU commented on #36
@hehuanshu96 **5.6 设置 SSH 钥匙**

[2020-02-24 13:52] JiaxiangBU commented on #34
这里参考 notes
<https://jiaxiangbu.github.io/learn_git/output/git-github-gitlab-learning-notes.html>
**2 clone 第一个项目**

@hehuanshu96

[2020-02-24 14:01] JiaxiangBU commented on #34
空值的原因找到了以为这行语法写错了。

`df[df$province==i, c(1:6, 9:11)]`才是正确的， `df[i,c(1:6, 9:11)]]`中i必须是连续
int，不能是文本。

`i in unique(df[["province"]])`

我们知道省份这个字段都是文本，所以导致 `df[i,c(1:6, 9:11)]]` 筛选出来都是空。

[code]

    ## -- Attaching packages -------------------------------------------------------------- tidyverse 1.2.1 --

    ## √ ggplot2 3.2.1     √ purrr   0.3.3
    ## √ tibble  2.1.3     √ dplyr   0.8.3
    ##

[2020-02-24 14:09] JiaxiangBU commented on #35
@wuruiqi183 武神，找到一篇这个类似的 https://www.geodose.com/2020/02/tracking-coronavirus-python-map.html
你可以看看这个 google doc 的数据能否访问。

[2020-02-24 18:17] JiaxiangBU opened #37 "AB Test"
参考 notes
**AB Test**
https://jiaxiangbu.github.io/learn_logisticregression/learning_notes.html

[2020-02-25 03:51] #37 closed, assigned to nobody

[2020-03-01 11:10] hehuanshu96 opened #38 "文本相似比较"
有两个文本，提取高频词汇对比，或者文本相似性对比。
类似教程么，多谢多谢李老师

[2020-03-01 11:11] #34 closed, assigned to JiaxiangBU

[2020-03-01 11:18] JiaxiangBU commented on #38
可以主要查看这个 notes https://jiaxiangbu.github.io/learn_nlp/analysis/text-mining-learning-notes.html

需要先分词，因此查看分词模块。
然后进行文本的 count 就好。

之后做文本相似性，算下皮尔森相关系数，我觉得可以简单计算一下了。 @hehuanshu96

[2020-03-01 23:50] hehuanshu96 opened #39 "输出x和y轴刻度字体以及x轴title不清晰。"
简单描述你的问题和希望产生的输出结果。
事先可以在以下项目查看是否已经有解决方案

parallel <- ggplot() +
    geom_point(data = b, aes(x = period, y = coef), shape = 15) +
    geom_line(data = b, aes(x = period, y = coef)) +
    geom_line(data = lci, aes(x = period, y = lci), linetype = "99") +
    geom_line(data = rci, aes(x = period, y = rci), linetype = "99") +
    geom_hline(yintercept = 0) +
    geom_vline(xintercept = 0, linetype =

[2020-03-02 04:49] JiaxiangBU commented on #39
好的，方便给下复现的数据嘛？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"hehuanshu96"<notifications@github.com&gt;;
发送时间:&nbsp;2020年3月2日(星期一) 上午7:50
收件人:&nbsp;"JiaxiangBU/tutoring2"<tutoring2@noreply.github.com&gt;;
抄送:&nbsp;"Subscribed"<subscribed@noreply.github.com&gt;;
主题:&nbsp;[JiaxiangBU/tutoring2] 输出x和y轴刻度字体以及x轴title不清晰。 (#39)

简单描述你的问题和希望产生的输出结果。
 事先可以在以下项目查看是否已经有解决方案

parallel <- gg

[2020-03-05 17:47] #6 closed, assigned to nobody

[2020-03-05 17:48] #5 closed, assigned to nobody

[2020-03-06 08:31] superlianer opened #40 "PCA on Capelle-Blancard et al. (2019)"
请问下，PCA那个文章里面，Table A.1.6里面的系数是怎么得到的？比如corruption的系数为0.19？

[2020-03-06 08:34] superlianer opened #41 "factor rotations"
在PCA中，什么是normalized squared loading？rotation是不是相当于得到每个主成分（比如component 1）的组成，是哪个因素构成的，每个因素的系数是多少？rotation出来的数据跟不rotation得到的系数有相似但有一定的差距。

[2020-03-06 13:20] JiaxiangBU commented on #40
@superlianer

![image](https://user-images.githubusercontent.com/15884785/76081809-e527e280-5fe4-11ea-9f68-b09389c7e1be.png)

处理方法为

1.  先PCA得到每个变量和 PCs 的 loading

2.  取行最大 rowMax，每个 PC 中的 loading 只保留行最大的，其他设为0

3.  处理后，对 PCs 再进行标准化。

[code]

        ## Warning: package 'magrittr' was built under R version 3.6.1

[code]

        ## [1] 0.1911910 0.1954633 0.1626068 0.1911910 0.0849738 0.1745740

[2020-03-07 05:47] #40 closed, assigned to JiaxiangBU

[2020-03-07 06:10] JiaxiangBU commented on #40
补充，

是的，你可以看下这样处理后是不是新的loadings
平方和后等于1？
是不是就是一个长度为1的单位向量了。

[2020-03-10 03:36] JiaxiangBU commented on #41
@superlianer

这个处理叫做 factor rotations。目的是把一个 PCs 内较弱的(比如绝对值较小)的变量删除。

The rotation changes the factor loadings and consequently the
**interpretation of** the factors, but the different **factor analytical
solutions** are mathematically equivalent in that they **explain the
same portion of the sample variance**.

当然这样的处理肯定是会改变主成分的解读。

| var\_name | PC1\_unrotated | PC2\_unrotated | PC3\_unrotated |

[2020-03-10 06:10] #41 closed, assigned to JiaxiangBU

[2020-03-10 06:32] superlianer opened #42 "关于pca"
Capelle-Blancard（2018）有三种类型的变量，E,S,G。如果他把E类型的数据跑一个pca，rotation，predict；然后为S，G类型再这样做一遍。不就分别是三个指数了吗？然后所有的放一起，再做一遍，就是综合指数。他为什么不这样做呢？最简单，还要像文章那样做得那么复杂，这两种做法有什么区别呢？

[2020-03-13 07:16] JiaxiangBU opened #43 "search piecewise.linear"
这不是一个包里面的，这是这个项目作者自定义的，函数见

https://github.com/TypeFox/R-Examples/blob/d0917dbaf698cb8bc0789db0c3ab07453016eab9/SiZer/R/piecewise.linear.R#L3-L46

但是我看到有 R 包使用了

https://github.com/cran/elasso/blob/df6f101354057e707a6d7d85d68e0001aeb2a1d0/R/BRLasso.R#L73-L74

而且不是 import 的，所以肯定是自定义的，我查看下。

https://github.com/cran/SparseLearner/blob/127213c714e9d8e07bd27743bccf87cb699ba655/R/SGraph.R#L118

只有两个 imp

[2020-03-13 07:35] #43 closed, assigned to nobody

[2020-03-13 12:30] JiaxiangBU opened #44 "piecewise.linear 实现 F 检验"
summary 中不包含 F 检验，需要单独做。

[2020-03-13 13:29] JiaxiangBU commented on #44
参考 https://github.com/JiaxiangBU/tutoring2/blob/master/dingxiang/analysis/piecewise.linear.md

[2020-03-13 13:30] #44 closed, assigned to nobody

[2020-03-13 14:25] slsongge opened #45 "像Python一样在R中增列"
### 简述问题
在R的for循环中，我想用paste0(i, "_score")作为数据框的新列名。不太好描述，你看代码应该更好理解。

[code]

[2020-03-13 16:43] JiaxiangBU commented on #45
@slsongge

假设矩阵

[code]

[code]

    ##       [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
    ##  [1,]    1   11   21   31   41   51   61   71   81    91
    ##  [2,]    2   12   22   32   42   52   62   72   82    92
    ##  [3,]    3   13   23   33   43   53   63   73   83    93
    ##  [4,]    4   14   24   34   44   54   64   74   84    94
    ##  [5,]    5   15   25   35   45   55   65

[2020-03-14 05:30] slsongge commented on #45
我的想法是这样的，应该和你的逻辑不一样：

[2020-03-14 05:34] slsongge commented on #45
我的想法应该和你的逻辑不一样哈：
我这边有一个数据框df，假设只有一列（其实几列无所谓）。我想写一个循环，每次循环的时候向df中增加一列，列名是for中的值+一个固定的字符。
[code]

[2020-03-14 05:42] slsongge commented on #45
这是我解决这个问题的间接方法
[code]

[2020-03-14 05:53] JiaxiangBU commented on #45
那我在想，你每次都在一个同一个`df`上增加一列，必然是行数相等，为什么不考虑直接先构建一个临时的 `df_tmp`，包含了你所有的想要新增的**列**，然后 `names <-` 可以批量命名，这样可以避免 for 循环，使用向量化操作。 @slsongge

[2020-03-14 05:58] slsongge commented on #45
那这样的话，实现起来就是我上条消息回复的代码吗？

[2020-03-14 06:04] JiaxiangBU commented on #45
@slsongge

[code]

    ##   A a_score b_score d_score
    ## 1 1       1       1       1
    ## 2 2       2       2       2
    ## 3 3       3       3       3
    ## 4 4       4       4       4
    ## 5 5       5       5       5

如果最终目的是生成这个数据集`df_bind`， 每列都一样，我觉得可以这么搞。

比如你想要新增三列。

[code]

    ##   A a_score b_score c_score
    ## 1 1       1       1       1
    ## 2 2       2       2       2

[2020-03-14 06:12] JiaxiangBU commented on #45
@slsongge

[code]

    ##   A a_score b_score d_score
    ## 1 1       1       1       1
    ## 2 2       2       2       2
    ## 3 3       3       3       3
    ## 4 4       4       4       4
    ## 5 5       5       5       5

[code]

    ##   A
    ## 1 1
    ## 2 2
    ## 3 3
    ## 4 4
    ## 5 5

[code]

    ##   A   a_score   b_score   c_score
    ## 1 1 0.2875775 0.0455565 0.9568333
    #

[2020-03-14 08:06] slsongge commented on #45
上面的问题是接下我我提问的问题的一部分，想看看你如何实现这个需求。这个需求是这样的：
当前有一个列表（list_01），需要用列表中数据构建回归模型，然后将这个模型应用到数据框（df_raw）中拟合出y。相信你看代码更好理解，代码如下：
[code]
返回的结果如下图：
![image](https://user-images.githubusercontent.com/36298417/76677810-7f071500-660d-11ea-9573-b2d933e0f248.png)

[2020-03-14 08:24] JiaxiangBU commented on #45
嗯，我看到代码是有一些复杂，就是你偏好在 for 循环里面实现，而非向量化操作。
另外就是其实就是循环做单变量回归？然后把a和b对应的模型去预测结果？ @slsongge

[2020-03-14 08:26] slsongge commented on #45
对的，就是这个样子。

[2020-03-14 13:01] #38 closed, assigned to JiaxiangBU

[2020-03-14 17:21] JiaxiangBU commented on #45
@slsongge

[code]

[code]

[code]

    ##   a b a_score b_score
    ## 1 1 1       1       1
    ## 2 2 2       2       2
    ## 3 3 3       3       3
    ## 4 4 4       4       4
    ## 5 5 5       5       5

[2020-03-18 08:37] #45 closed, assigned to JiaxiangBU

[2020-03-18 10:07] JiaxiangBU commented on #45
@slsongge 好的，我把 issue 加到目录中。

[6103971] 2020-03-18: update, use `push` in Makefile

[2020-03-19 05:12] slsongge opened #46 "文本模糊匹配"
### 问题
在R中，我有一个需求，我这边只会写两个for，并且还没有彻底完成我的需求。我写的for循环只能返回下图：
![image](https://user-images.githubusercontent.com/36298417/77033807-3079c200-69e3-11ea-9a8e-506e51638f7a.png)

大概需求如下：
我有两个数据框df_1和df_2，每个数据框都只有一列，列名分别是A和B。我需要在df_1里面增加一列B，此列的填充逻辑为：
模糊匹配df_2的B列中的每个值是否在A列中出现，如果出现就将df_1的新增的B填充为df_2$B匹配成功的值，否则填充为NA。

### 原始数据和所需返回结果
![image](https://user-images.githubusercontent.com/36298417/77033665-d8db56

[2020-03-19 09:06] JiaxiangBU commented on #46
@slsongge

[code]

    ## -- Attaching packages --------------------------------------------------------------------- tidyverse 1.2.1 --

    ## √ ggplot2 3.2.1     √ purrr   0.3.3
    ## √ tibble  2.1.3     √ dplyr   0.8.3
    ## √ tidyr   1.0.2     √ stringr 1.4.0
    ## √ readr   1.3.1     √ forcats 0.4.0

    ## Warning: package 'ggplot2' was built under R version 3.6.2

    ## Warning: packag

[2020-03-19 09:40] #46 closed, assigned to nobody

[2020-03-23 13:05] slsongge opened #47 "怎么处理tableContinuous {reporttools}返回的结果"
@JiaxiangBU 家翔哥
### 问题
用tableContinuous返回的结果，如何生成表格呢？

### 代码
[code]

[2020-03-23 14:03] slsongge commented on #47
@JiaxiangBU 没事了哈，我下载了那个软件，几乎可以解决问题了。

[2020-03-23 14:03] #47 closed, assigned to nobody

[2020-03-23 15:45] JiaxiangBU commented on #47
对的，mathpix 可以完成绝大部分的任务，但是还是会有一些问题。

![image](https://user-images.githubusercontent.com/15884785/77334844-4b8c5f00-6d60-11ea-8d84-7d66e9440674.png)

如 `\scriptsize` 无法识别。

另外一个就是无法自动化，目前已经有 mathpix 的包了，可以 GitHub 找下。

@slsongge

[2020-03-28 15:15] slsongge opened #48 "python 批量导出和导入"
### 问题
如何在python中，批量导出n个数据框为csv或者xlsx格式？

### 数据框格式
每个数据框的列名完全相同

### 目前实现方法
![image](https://user-images.githubusercontent.com/36298417/77826383-ebbffa80-7149-11ea-8c88-65cc6755aae1.png)

[2020-03-30 03:42] JiaxiangBU commented on #48
参考

1. `jinxiaosong/concatenate-csv.ipynb`

这是假设的三个表格

1. `jinxiaosong/data/df1.csv`
1. `jinxiaosong/data/df2.csv`
1. `jinxiaosong/data/df3.csv`

**批量导入**，主要就是 for 循环加上 append 完成就好了。
**批量导出**，主要就是 pd.DataFrame.groupby 加上 for 循环

导出文件如

1. `jinxiaosong/data/outputdf1.csv.csv`
1. `jinxiaosong/data/outputdf2.csv.csv`
1. `jinxiaosong/data/outputdf3.csv.csv`

[code]

@slsongge

[2020-03-30 11:35] #48 closed, assigned to JiaxiangBU

[2020-03-30 11:38] slsongge opened #49 "export .ipynb as html with toc"
@ JiaxiangBU
### 问题
我现在有一个ipynb的文件，因为内容比较多，所以希望导出的时候带有目录，就像nbextensions插件生成的目录似的。如下图：
![image](https://user-images.githubusercontent.com/36298417/77908321-dff54500-72bd-11ea-9bf1-d53dcfd32a74.png)

### 期望的结果
最好是像bookdown似的，左边是目录右侧是正文。

[2020-03-31 04:18] JiaxiangBU commented on #49
如果你偏爱 bookdown 做出的 gitbook 的板式，有一个曲线救国的方法。

1. 先通过 `jupyter nbconvert` 导出 md
1. 利用 bookdown 将 md 创建出 gitbook 风格的 HTML

这个你可以可行的话，我可以举个例子给你，基本上用一个 make 命令可以一行代码自动化了。
@slsongge

[2020-03-31 04:47] slsongge commented on #49
[to_ljx.zip](https://github.com/JiaxiangBU/tutoring2/files/4406796/to_ljx.zip)
上面是.ipynb的压缩文件哈。@JiaxiangBU

[2020-03-31 18:44] JiaxiangBU commented on #49
nb 相关参考 <https://jiaxiangbu.github.io/learn_nbdev/learning_notes.html>

[code]

[code]

这里需要将 nbconvert 和 rmarkdown 通过 make 结合

[code]

构建 RMarkdown 的脚本。

[code]

查看构建效果，或者访问
<https://jiaxiangbu.github.io/tutoring2/jinxiaosong/nb2gitbook/bookdown.html>

查看下最后的构建结构

[code]

    ## jinxiaosong/nb2gitbook
    ## +-- bookdown.html
    ## +-- bookdown.Rmd
    ## +-- build.R
    ## +-- libs
    ## +-- M

[2020-04-01 03:24] slsongge commented on #49
@JiaxiangBU 有以下几个问题哈：
![image](https://user-images.githubusercontent.com/36298417/78095926-e47b4400-740a-11ea-906e-97b48bc58f8e.png)

下面的都是在rstudio运行是吗？
[code]

你返回的链接中没有图片？
![image](https://user-images.githubusercontent.com/36298417/78096095-5b184180-740b-11ea-9fb9-d3b04935b2fd.png)

[2020-04-01 04:24] JiaxiangBU commented on #49
@slsongge

Git bash 解决。只跑`$`

是的。

是 notebook 的问题，这个图片在 notebook 本身没有显示出来。

[code]

<img src="figure/20200401122247.png" width="1920" />

[2020-04-02 14:52] slsongge commented on #49
@JiaxiangBU 家翔哥，我重新写了一个ipynb，上传到了https://github.com/JiaxiangBU/tutoring2/tree/master/jinxiaosong/nb2gitbook
但是我打开之后就没有图片了，这个很尴尬，在我本地是有图片的。

[2020-04-02 16:38] JiaxiangBU commented on #49
我测试了

[code]

是失效的。

导出了你新上传的`jinxiaosong/nb2gitbook/test_02.ipynb`产生的`jinxiaosong/nb2gitbook/test_02.md`进行 gitbook，也是失败的。
原因是 md 让 rendered notebook 的图像失效了。

但是`jinxiaosong/nb2gitbook/test_02.html` 图像在远程也是可以显示的。

另外可以参考 https://jupyter-contrib-nbextensions.readthedocs.io/en/latest/nbextensions/toc2/README.html

因此我打算 ipynb to gitbook 找解决方案，不通过 markdown 了。
但是我查看了，大部分都是要通过 markdown 进行的，见
https://gi

[2020-04-03 02:58] JiaxiangBU commented on #49
@slsongge

这个链接就可以访问了

这个是需要外部调用这个图的，HTML只是一个框架，如果单纯把框架下载出来，但是没有内容，肯定没有嘛。

[2020-04-05 02:50] JiaxiangBU commented on #49
@slsongge

[code]

    ## jinxiaosong/nb2gitbook
    ## +-- bookdown.html
    ## +-- bookdown.Rmd
    ## +-- build.R
    ## +-- libs
    ## +-- Makefile
    ## +-- nb_with_toc.ipynb
    ## +-- nb_with_toc.md
    ## +-- test_02.html
    ## +-- test_02.ipynb
    ## \-- test_02.Rmd

参考 <https://github.com/aaren/notedown>

[code]

[code]

[code]

[code]

[code]

并且我使用了`self_contained: TRUE`也没用。

https

[2020-04-05 02:52] JiaxiangBU commented on #49
pyecharts 这个包我不熟悉，你看把`p_all.render_notebook()`这个图像的对象保存出来，再调用么？类似于在 R 里面会保存为一个 js 的对象，这样再调用。 @slsongge

[2020-04-05 08:15] slsongge commented on #49
目前而言，我这边也是间接的解决了这个问题。

- 首先得有这个Anaconda3\share\jupyter\nbextensions\toc2，然后应该就可以导出html_with_toc
![image](https://user-images.githubusercontent.com/36298417/78469831-2aac0c80-7757-11ea-98d7-dcba504391bf.png)

- 然后本地就可以看到有目录的网页了，不过发送给其他人（没有vpn）的时候，对方打开就不会显示目录

- 要想让对方也能显示目录，你得检查（F12）本地有目录的html，然后在Network-all里面找到几个文件（如下所示）下载到html所在的目录下。
![image](https://user-images.githubusercontent.com/36298417/7846

[2020-04-05 12:14] JiaxiangBU commented on #49
恩。我看到你上传了，我修改下看看目录。

https://github.com/JiaxiangBU/tutoring2/tree/master/jinxiaosong/nb2gitbook/toc_and_pyecharts

@slsongge

[2020-04-05 12:25] JiaxiangBU commented on #49
@slsongge 我查看了，果然是要这些 js 才可以，我觉得你可以分享这个页面给老哥，然后把 js 这些文件的GitHub地址给他，我相信他应该后期会像Rmd一样在render 时，把这些 js 复制到本地，保证目录可以显示。 @slsongge

https://jiaxiangbu.github.io/tutoring2/jinxiaosong/nb2gitbook/toc_and_pyecharts/toc_and_pyecharts.html

![9DD1ACAE-9378-4D28-9D80-37D8B3B0E874](https://user-images.githubusercontent.com/15884785/78492942-9902c600-777b-11ea-9e97-232e026aef95.png)

[2020-04-05 18:00] JiaxiangBU commented on #49
@slsongge 参考 https://github.com/jupyter/nbconvert/issues/1228#issuecomment-609409406 目前这个问题找到答案了，所以 issue 我 close 了

[2020-04-08 03:18] liangzp opened #50 "GitHub 如何显示 HTML"
@JiaxiangBU
### 有关联的问题

[repo](https://github.com/liangzp/Notebook-for-Modified)

在上面的链接中导出的index.html，上传在[github](https://github.com/liangzp/Data-Science)上无法正常显示，显示效果为[显示效果](https://liangzp.github.io/Data-Science/)

线下效果：
![image](https://user-images.githubusercontent.com/23372592/78740884-83afb680-798a-11ea-976f-378ea0ae17de.png)

线上效果：
![image](https://user-images.githubusercontent.com/23372592

[2020-04-08 06:52] JiaxiangBU commented on #50
@liangzp

我大致看了下，这个地方需要知道一下 bookdown 的产出是一个 HTML 结构，如果相关的 css 文档没有成功在 GitHub Pages 加载成功，那么就会 fail。

你应该是是使用`rmarkdown::render_site()`完成的，这个方式有一个不好的是，对于初学者来说，必须要严格按照他的结构书写 gitbook，一旦出现配置问题，比较难 debug。

你这里建立一个母文档，其他子文档，用过 `knitr::child` 的方式调用。
这里有一个 demo，见 https://github.com/JiaxiangBU/nintendo_switch_mario

[code]

这两个文档先删除

然后构建一个 Rmd，调用子文档
这个模板可以参考`JiaxiangBU/add2gitbook`添加。

你可以参考 `demo.html` 这个

[2020-04-08 06:54] JiaxiangBU commented on #50
@liangzp 打开 GitHub Pages，访问

https://jiaxiangbu.github.io/Notebook-for-Modified/demo.html

[2020-04-13 07:49] #50 closed, assigned to nobody

[2020-04-20 07:01] JiaxiangBU opened #51 "变量名重命名"
[code]

<sup>Created on 2020-04-20 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-04-20 07:01] #51 closed, assigned to nobody

[2020-04-22 13:00] liangzp opened #52 "reticulate 卸载python package"
希望用rbookdown的笔记中运行python，其中需要导入keras package，但是我的keras貌似版本不对，在rbookdown中插入一个chunk运行代码：
[code]
输出信息

Detailed traceback:
  File "<string>", line 1, in <module>
  File "/Users/zhipengliang/Library/r-miniconda/envs/r-reticulate/lib/python3.6/site-packages/keras/__init__.py", line 3, in <module>
    from . import utils
  File "/Users/zhipengliang/Library/r-miniconda/envs/r-reticulate/lib/python3.6/sit

[2020-04-22 13:06] JiaxiangBU commented on #52
这个直接用`pip uninstall keras`？ @liangzp

[2020-04-22 13:50] liangzp commented on #52
怀疑reticulate没有Pypi对应的uninstall的函数：
[官方文档](https://rstudio.github.io/reticulate/articles/python_packages.html)
![image](https://user-images.githubusercontent.com/23372592/79989739-c9b85e80-84e2-11ea-96e5-2a710abc3d10.png)
可以看到官方文档没出现Pypi对应的uninstall函数，而conda有一个conda_remove，但是运行结果很奇怪：
![image](https://user-images.githubusercontent.com/23372592/79989948-07b58280-84e3-11ea-8c76-515d920c13ae.png)
（我的rm

[2020-04-23 03:40] JiaxiangBU commented on #52
@liangzp

这有个不好的影响就是在 RMarkdown 要搭建一个新的环境，已经类似于`conda create`，但是这里其实没有环境隔离的需求，更好的体验是 RMarkdown 使用的包，和 jupyter notebook 打开某个环境使用的包共用。

所以安装包还是在指定的环境里面安装，用`pip install`，更多参考 https://jiaxiangbu.github.io/learn_python/analysis/conda/01-conda_notes.html

那么RMarkdown 里面指定对应的 Python，参考 https://jiaxiangbu.github.io/learn_nn/use_python_in_r

[2020-04-23 07:28] liangzp commented on #52
![image](https://user-images.githubusercontent.com/23372592/80071315-f9b14180-8576-11ea-931b-bfb17991181e.png)
我的base环境下面有三个路径，应该怎么把另外两个去掉呢？

[2020-04-23 09:28] JiaxiangBU commented on #52
**12 删除环境** 这一部分 @liangzp

[2020-04-23 10:23] liangzp commented on #52
最后直接删除对应路径下的r-miniconda文件夹即可

[2020-04-23 10:23] #52 closed, assigned to JiaxiangBU

[2020-05-05 06:52] JiaxiangBU commented on #52
这是独立开发的一个包，应该可以解决这个问题 [rminiconda](https://slides.com/hafen/rminiconda#/25) @liangzp

[2020-05-05 06:56] JiaxiangBU commented on #33
这个和

类似，只不过是在`options(digits=n)`设置。
参考 http://brucezhaor.github.io/blog/2016/05/05/read-data-1/ @slsongge

[2020-05-06 02:46] JiaxiangBU commented on #49
@slsongge 目前可以有目录展示的

![image](https://user-images.githubusercontent.com/15884785/81134272-d29b3c80-8f86-11ea-88cb-eef62ce5d97e.png)

见 https://jiaxiangbu.github.io/tutoring2/jinxiaosong/nb2gitbook/toc_and_pyecharts/toc_and_pyecharts.html

[2020-05-06 04:19] slsongge commented on #49
这是为啥呢？这个不是修改了css的那个吗？

[2020-05-06 06:06] JiaxiangBU commented on #49
@slsongge 你查看下链接打开后是不是也是有目录的？这个就好奇怪了。

我先 reopen。

[2020-06-08 12:36] Captain-Pam opened #53 "R运行提速优化"
关于因变量，我有200多个因变量，自变量有两种，第一种A，大概335个，第二种B，401个，每一个因变量，都要进行一下操作：

1. 首先确定335个变量的rank，方法是线性回归算AIC，AIC小的排在前面；同理第二种变量也要这样确定他们的rank；
1. 计算按照rank 添加自变量，每添加一个都要做一次80%train-20%test 的，并计算预测的值，再计算预测自与真实值相关系数的平方，也就是R2；
1. 在第一种变量的R2中确定加入多少自变量时最大，最大第一种变量的个数，然后在这基础上用AIC确定第二种变量的rank，在算两种变量组合后R2。

我写好了处理的函数，但是用for循环实现太慢了，主要原因是在for循环里有两个自定义函数，且变量较多，算每次算AIC确定rank非常慢。我觉得两种变量各自AIC确定rank 能并行，R2的计算能并行应该提速。当然AIC确定的顺序提速也行

[2020-06-09 05:57] JiaxiangBU commented on #53
@Cobbybaby

[code]

我看了下整体代码，你做这样的修改

[code]

[code]

    ## [1] 1
    ## [1] 1
    ## [1] 1
    ## [1] 2
    ## [1] 2
    ## [1] 2
    ## [1] 3
    ## [1] 3
    ## [1] 3

[code]

    ## [1] 1
    ## [1] 2
    ## [1] 3

    ## [1] "1" "2" "3"

[2020-06-09 09:13] Captain-Pam commented on #53
谢谢家翔哥，我试着用map做了一个，但是跑不起来，估计是没明白map吧，里面可以source 其他函数吗？这是我的代码，在上一个基础上改的，辛苦啦！

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Jiaxiang Li"<notifications@github.com&gt;;
发送时间:&nbsp;2020年6月9日(星期二) 中午1:57
收件人:&nbsp;"JiaxiangBU/tutoring2"<tutoring2@noreply.github.com&gt;;
抄送:&nbsp;"指挥官"<276951867@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题:&nbsp;Re: [JiaxiangBU/tutoring2] R运行

[2020-06-09 10:11] JiaxiangBU commented on #53
@Cobbybaby

这一段我没有看懂你的代码，你能够这样处理出来么？

[code]

[2020-06-09 10:19] Captain-Pam commented on #53
家翔哥，我试着更新了一下map,在我给你的代码里改为map(files,rank_R2,phe_snp_cpg=phe_snp_cpg)
files你那边可能看不到，其实就是以phe_res数据框的列名命名的文件夹，每个列名是一个因变量。我执行起来了，只是遇到了snp_add_cpg_R2<-getR2(phe_snp_cpg,x,snp_add_cpg,sc=TRUE),这步出错，找不到snp_R2这个数据框，这个数据框是在这个函数之外生成的，正常应该向上查找才对吧。
家翔哥选取，snp，cpg的小子集试试，将files选两个phe_res的列名就行。

[2020-06-09 10:43] Captain-Pam commented on #53
简化版，我在代码的注释里写上了一些问题吧，主要是snp_R2不能调用外面的。getR2函数有时候计算有NA报错。辛苦啦

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Jiaxiang Li"<notifications@github.com&gt;;
发送时间:&nbsp;2020年6月9日(星期二) 晚上6:11
收件人:&nbsp;"JiaxiangBU/tutoring2"<tutoring2@noreply.github.com&gt;;
抄送:&nbsp;"指挥官"<276951867@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题:&nbsp;Re: [JiaxiangBU/tutoring2] R运行提速优化 (#53)

@Co

[2020-06-09 11:57] JiaxiangBU commented on #53
嗯，我需要一个 **minimal** 的例子，一共两列，一列是参数1，一列是参数2，你存为一个 csv，我调用即可，然后我需要你定义好的 `fun` 函数，函数自定义域，包含你需要的两个参数，这样我可以避免去改写你的代码其他部分。

其中，如你的数据集地址，都是 hard 实际上是不能执行的。 @Cobbybaby

[2020-06-09 13:06] Captain-Pam commented on #53
test2.R 是residuals_df中单独的一个y（因变量）的示例，最终希望每个y都做这个操作。代码中保存数据和画图我注释掉了。辛苦啦，家翔哥。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Jiaxiang Li"<notifications@github.com&gt;;
发送时间:&nbsp;2020年6月9日(星期二) 晚上7:57
收件人:&nbsp;"JiaxiangBU/tutoring2"<tutoring2@noreply.github.com&gt;;
抄送:&nbsp;"指挥官"<276951867@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题:&nbsp;Re: [JiaxiangBU/tutoring2] R运

[2020-06-10 03:12] JiaxiangBU commented on #53
我没有看到你的代码。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Cobby_baby"<notifications@github.com&gt;;
发送时间:&nbsp;2020年6月9日(星期二) 晚上9:07
收件人:&nbsp;"JiaxiangBU/tutoring2"<tutoring2@noreply.github.com&gt;;
抄送:&nbsp;"李家翔"<alex.lijiaxiang@foxmail.com&gt;;"Assign"<assign@noreply.github.com&gt;;
主题:&nbsp;Re: [JiaxiangBU/tutoring2] R运行提速优化 (#53)

 test2.R 是residuals_df中单独的一个y（因变量）的示例，最终希望每个

[2020-06-10 03:51] Captain-Pam commented on #53
test2.R 是residuals_df中单独的一个y（因变量）的示例，最终希望每个y都做这个操作。代码中保存数据和画图我注释掉了。辛苦啦，家翔哥。

------------------ 原始邮件 ------------------
发件人:&nbsp;"Jiaxiang Li"<notifications@github.com&gt;;
发送时间:&nbsp;2020年6月9日(星期二) 晚上7:57
收件人:&nbsp;"JiaxiangBU/tutoring2"<tutoring2@noreply.github.com&gt;;
抄送:&nbsp;"指挥官"<276951867@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题:&nbsp;Re: [JiaxiangBU/tutoring2] R运行提速优化 (#53

[2020-06-17 00:31] 70557dzqc opened #54 "更新CRAN中的包"

[2020-06-17 00:31] 70557dzqc commented on #54
请问上传1.0版本的R包后，在本地已经更新到2.0版本，如何更新CRAN中的R包呢？直接上传就行了吗

[2020-06-17 03:42] JiaxiangBU commented on #54
是的，操作流程和你第一次去上传，检查，人工审核的流程差不多。 @Panxiaoba

[2020-06-18 16:03] slsongge opened #55 "根据某列连续相同的值分组"
### 问题
按照D列分组，D列只有两种唯一值（0、1），把连续的0或者1作为一组，最后生成n个数据框。

### 代码
[code]

[2020-06-18 16:57] #55 closed, assigned to JiaxiangBU

[2020-06-18 16:58] JiaxiangBU commented on #55
@slsongge https://github.com/JiaxiangBU/tutoring2/blob/a526ac133671fe61a25784781e70e81baef3a1e4/jinxiaosong/nested.md

[2020-06-20 00:56] #54 closed, assigned to JiaxiangBU

[2020-06-20 00:57] JiaxiangBU commented on #7
参考 梅子行2020b

[2020-06-20 00:57] #7 closed, assigned to nobody

[2020-06-20 00:58] #36 closed, assigned to nobody

[2020-06-20 00:58] #35 closed, assigned to JiaxiangBU

[2020-06-20 00:58] #39 closed, assigned to nobody

[2020-06-20 03:30] slsongge opened #56 "Python dataframe.filter()中反选参数"
### 问题
我在python中使用filter中找不到反选的参数

### 代码
[code]

[2020-06-20 03:40] JiaxiangBU commented on #8
那就是一个生成的 gitbook，最好还是保持可下载的数据、代码，方便其他人使用。

[2020-06-20 03:40] #8 closed, assigned to JiaxiangBU

[2020-06-20 03:41] JiaxiangBU commented on #49
先暂时close了。

[2020-06-20 03:41] #49 closed, assigned to JiaxiangBU

[2020-06-20 05:21] #56 closed, assigned to nobody

[2020-07-15 07:49] zxy1555847 opened #57 "compilation failed of"

[2020-07-15 07:52] zxy1555847 opened #58 "compilation failed of R"

[2020-07-15 08:22] JiaxiangBU commented on #58
@zxy1555847 需要一下你提供这些信息？

[2020-07-15 09:33] zxy1555847 opened #59 "compilation failed of R 4.0.2"
我目前在服务器上使用R，这个R是由conda安装。我按照
if (!require("devtools")) install.packages("devtools")
devtools::install_github("thierrygosselin/radiator")
library(radiator)
的方法去安装radiator，执行第一条代码就报错compilation failed。

然后我想先在自己的电脑（windows，R版本4.0.2）上试着安装一下，
devtools可以正常安装，但是第二条代码devtools::install_github("thierrygosselin/radiator")，需要rtools，我又装了rtools4.0，然后报没有rlang包的错，我利用install.packages("rlang")命令装rlang，报了compilatio

[2020-07-15 12:07] zxy1555847 commented on #58
我还不是很会用github，然后好像写了三个，最后一个是我真正想写的
我不知道为什么好像并不是全部显示，我写的所有的文本是这样的：

我目前在服务器上使用R，这个R是由conda安装。我按照
if (!require("devtools")) install.packages("devtools")
devtools::install_github("thierrygosselin/radiator")
library(radiator)
的方法去安装radiator，执行第一条代码就报错compilation failed。

然后我想先在自己的电脑（windows，R版本4.0.2）上试着安装一下，
devtools可以正常安装，但是第二条代码devtools::install_github("thierrygosselin/radiator")，需要rtools，我又装了rtools

[2020-07-16 03:00] JiaxiangBU commented on #58
@zxy1555847

编译问题会比较复杂，因为你可能刚接触R，去和 R core team 反馈这个问题，可能很多信息不知道怎么反馈。

我的思路是

1. 先帮你配置好一个稳定的环境，正常用 R
1. 后面再整理这些信息，跟 core team 提交 bug

我最近有一个同学 @Leaf-Xiao 也出现这个问题，也是在 Windows 10，R 4.0.2 和 最新 RStudio 1.3.x。Rtools 是 4.0 的。
**你介意用一个稳定版本？牺牲一些特性么？**也就是回退的情况，可能你不太能够用到

1. RStudio 1.3.x 的新特性
1. `data.frame` 会默认把 string 变量转换成 factor 的这样操作(有时候会影响干扰数据清洗)

但是稳定，
我给你的配置如下。

[code]

这些都是在国外服务器上，如果你下载有困难，告诉我，我邮件

[2020-07-17 01:33] zxy1555847 commented on #58
好的！非常感谢！我先执行试试。
后期有问题，我再回来追帖。非常感谢您的时间和精力！

[2020-07-17 05:20] Leaf-Xiao commented on #58
@JiaxiangBU 第四步安装无法访问网站

[2020-07-17 05:51] JiaxiangBU commented on #58
@Leaf-Xiao 这个链接访问不了对么？

使用这个 backup 的 gitee pages

http://jiaxiangli.gitee.io/r_code/analysis/import-data-learning-notes.html

[2020-07-17 06:28] Leaf-Xiao commented on #58
@JiaxiangBU 可是点开Rstudio显示：无法访问此网站  所有的菜单栏都无法点击
要不我先试试蕾蕾姐密钥的方式吧

[2020-07-17 07:11] JiaxiangBU commented on #58
截图看我下，这个理论上和 git、SSH 没关系。
和你的 Windows 10、RStudio 的版本安装有问题。 @zxy1555847 你现在也遇到这个问题么？

@Leaf-Xiao 我现在想确认，你应该不是第四步出现问题，而是第二步就出现问题了吧？

[2020-07-17 08:28] Leaf-Xiao commented on #58
第二步安装完全没问题，但是打开显示无法访问；因为你这里是说要按照步骤进行，我以为全部安装后就没问题了；但到第四步是首先网址无法打开，第二看到给的笔记里需要用到RStudio,但打开RStudio后还是显示：无法访问。我在网上也查了相应的方法，但是还是无法解决。 @JiaxiangBU

[2020-07-17 10:41] JiaxiangBU commented on #58
@Leaf-Xiao 我没有理解问题安装成功但是打不开对么？
里面你安装的版本有严格按照我给你的么？

四个软件的版本号，按照版本号找到对应的软件。

另外我需要你截个图，我看一下具体问题是什么情况。因为这个是一个本地软件，不需要联网，所以很奇怪。

[2020-07-17 12:30] Leaf-Xiao commented on #58
@JiaxiangBU
版本的确是按照你给我的安装的
如图：
<img width="785" alt="捕获" src="https://user-images.githubusercontent.com/67859065/87786283-418cef80-c86c-11ea-8caf-e9bc89337ecf.PNG">
<img width="90" alt="捕获2" src="https://user-images.githubusercontent.com/67859065/87786306-4baeee00-c86c-11ea-9106-ef7cb5d5e446.PNG">
<img width="98" alt="捕获3" src="https://user-images.githubusercontent.com/67859065/87786322-523d6580-c

[2020-07-17 17:06] JiaxiangBU commented on #58
@Leaf-Xiao 安装版本没有问题，都是回退的版本了。

那么有其他原因需要排查。

1. R 和 RStudio 安装路径是否包含了 non-ASCII 文本，如[中文](https://ask.csdn.net/questions/772248)
路径在(用git bash)打开，输入
[code]
1. 更复杂些，host 文件，打开下复制下内容给我？这里面不包含隐私信息。
路径在(用git bash)打开，输入
[code]

[2020-07-18 02:53] zxy1555847 commented on #58
ok。我来给反馈啦！
前4步都非常正常，然后我用新的R和Rstudio和Rtools进行包的安装，发现在devtools包的安装过程中，还是有安装不上的依赖包，
Warning in install.packages :
  installation of package ‘processx’ had non-zero exit status
Warning in install.packages :
  installation of package ‘fs’ had non-zero exit status
Warning in install.packages :
  installation of package ‘Rcpp’ had non-zero exit status
对于这几个包的源码包是已经下载好了的，所以我想手动安装，命令：install.packages("proc

[2020-07-18 07:55] zxy1555847 commented on #58
朋友们，我在知乎上找到 这个：
ERROR: compilation failed for package
经常出现在OSX中的一个问题，**缺**少C++ library 提供的放头文件****。解决办法是安装C++或者Xcode Command Line Tools。C++的安装不必说，Xcode Command Line Tools 的安装命令为：

xcode-select --install
安装Xcode Command Line Tools 就不会在发生 compilation failed for package 的错误了。

这不就是我们的错误嘛。然后，他给的这个xcode是苹果系统的，至于linux和windows，应该也有相应的包，缺少C++ library提供的放头文件，我并看不懂。

[2020-07-18 08:21] JiaxiangBU commented on #58
这个链接发我看下？ @zxy1555847

[2020-07-18 08:25] zxy1555847 commented on #58
https://zhuanlan.zhihu.com/p/46077702

[2020-07-18 09:16] zxy1555847 commented on #58
朋友们，我解决掉这个问题了！
但是我不保证屡试不爽哈！
代码如下：

[code]

ok!至此，我在安装包的时候，就会报别的错了，但是不会报编译的错。
从这个帖子学来的：
https://github.com/psychbruce/bruceR/blob/master/Installation%20Bugs%20and%20Solutions.md

[2020-07-18 09:17] zxy1555847 commented on #58
我不知道为什么写出来之后重启的字这么大，但是并不是强调，不影响使用！

[2020-07-18 11:56] JiaxiangBU commented on #58
@zxy1555847

我参考 https://zhuanlan.zhihu.com/p/46077702
[code]

xcode 这个确切说是 MacOS 要安装和更新的软件，不是 Windows 的版本问题了。

[code]

`apt-get`说明你是 Ubuntu 的系统？

这部分我原来在阿里云上安装R，配置过。

而且现在的问题是安装一些包有依赖问题？
我之前也遇到过，把这些 dependencies 安装好，devtools 就可以安装了。

参考 3.2 R和RStudio
https://jiaxiangbu.github.io/learn_linux/linux-learning-notes.html#r和rstudio

[2020-07-18 12:56] JiaxiangBU commented on #58
好的，需要用代码框表示，我修改改了，你有兴趣可以点一下 edit 查看下 @zxy1555847

[2020-07-18 13:02] zxy1555847 commented on #58
知乎的那条帖子我没有仔细看，我们实验室的服务器的确是ubuntu的系统，但是我很少会sudo。
我现在已经依照我给的代码配置好我的 R了，我的包也已经装好了。主要的问题症结就是缺少Rcpp包。
ok！非常感谢指导！我的朋友！

[2020-07-18 14:32] JiaxiangBU commented on #58
好啊，那我感觉你的没有问题了。Rcpp 是一个很核心的包，现在有1200个发布的包都用到它，你看下安装是否还有问题。 @zxy1555847

[2020-07-19 01:24] zxy1555847 commented on #58
目前没了！！Thank you very much！

[2020-07-19 06:16] Leaf-Xiao commented on #58
@JiaxiangBU
R的安装路径：**C:\Program Files\R\R-3.6.0**
RStudio的安装路径：**C:\Program Files\RStudio**
这两个应该是没有中文或者其他non-ASCII 文本

**此外hosts：**
<img width="445" alt="捕获" src="https://user-images.githubusercontent.com/67859065/87868668-e6bdda00-c9ca-11ea-8cc1-c8afc6853fa1.PNG">

[2020-07-20 03:55] JiaxiangBU commented on #58
@Leaf-Xiao

那么你的用户名呢？在`C:\Users`下面，如果是报错中文的，一般两种方案

1. 新建用户为英文的
1. 把R和RStudio 不要装在这个路径下，如装在 D 盘。

另外，用管理员权限打开，参考 https://zhuanlan.zhihu.com/p/82495772

[2020-07-20 07:08] #58 closed, assigned to JiaxiangBU

[2020-07-21 08:22] Captain-Pam opened #60 "样本量远远小于feature数量的 PCA"
有大概900多人的样本，每个与昂本feature数量大概720,000。想做每个样本点在pc上的投影

[2020-07-21 15:25] JiaxiangBU commented on #60
@Cobbybaby R 带不动的话，可以参考下 Python 的，见 3.2 PCA in Python
https://jiaxiangbu.github.io/learn-dim-reduction/pca_learning_notes#pca-in-python

另外 R 的实现方式参考 https://github.com/JiaxiangBU/add2evaluation/blob/master/R/pca_inbar.R
https://github.com/JiaxiangBU/tutoring2/blob/master/x_binghui/pca.Rmd

[2020-07-23 08:42] JiaxiangBU commented on #60
@wuruiqi183 有的。
@Cobbybaby  这是项目地址 https://github.com/google/deepvariant
用 Python 2.7 构建，需要搞一个环境了，另外底层架构还是 tf。

[2020-07-23 08:44] JiaxiangBU commented on #57
Duplicate of #57

[2020-07-23 08:44] #57 closed, assigned to nobody

[2020-07-23 08:45] JiaxiangBU commented on #59
Duplicate of #57

[2020-07-23 08:45] #59 closed, assigned to nobody

[2020-09-19 06:30] slsongge opened #61 "python：实现透视表中占比功能"
我有一个数据框，四列：A、B、C、D
D：是按照前三列分组进行的agg('count')

现在我要只对A、B分组，求D的count，然后对A分组求D的count，接下来join，最后求D的占比

### 数据
[pivot_help.xlsx](https://github.com/JiaxiangBU/tutoring2/files/5249202/pivot_help.xlsx)

### 我的实现代码
[code]
@JiaxiangBU

[2020-09-19 10:06] JiaxiangBU commented on #61
我看了下代码，其实你要做的是

1. 在对`cut`每一个分类里面，求聚合。
1. 在某一个`cut`里面，对`color`的算`n`的占比。

想要上面两步想要一次性完成。 @slsongge

[2020-09-19 10:20] JiaxiangBU commented on #61
@slsongge

[code]

[code]

[code]

[code]

    <class 'pandas.core.frame.DataFrame'>
    RangeIndex: 276 entries, 0 to 275
    Data columns (total 4 columns):
     #   Column   Non-Null Count  Dtype
    ---  ------   --------------  -----
     0   cut      276 non-null    object
     1   color    276 non-null    object
     2   clarity  276 non-null    object
     3   n        276 non-null    int6

[2020-09-19 10:28] JiaxiangBU commented on #61
@slsongge

[code]

[code]

    ## # A tibble: 5 x 8
    ## # Groups:   cut [5]
    ##   cut           D     E     F     G     H      I      J
    ##   <chr>     <dbl> <dbl> <dbl> <dbl> <dbl>  <dbl>  <dbl>
    ## 1 Fair      0.101 0.139 0.194 0.195 0.188 0.109  0.0739
    ## 2 Good      0.135 0.190 0.185 0.178 0.143 0.106  0.0626
    ## 3 Ideal     0.132 0.181 0.178 0.227 0.145 0.0971 0.0416
    ##

[2020-09-19 14:06] slsongge commented on #61
如果对两个变量进行分组，返回的结果就不是数据框了，从而不能进行转置了
[code]

[2020-09-21 06:30] JiaxiangBU commented on #61
这个数据透视表，index 有两个 levels，column 是一个 level，所以这样返回也正常，你想要的反馈结果是什么样子的？回复下我看看，我来调整 apply 对 index 的设置。 @slsongge

[2020-09-21 07:34] slsongge commented on #61
@JiaxiangBU
下图是我现在面临的情况，目前我找到的最简单的方法就是写if判断就好。当然最直接的方法是在当前代码中调整参数。
![image](https://user-images.githubusercontent.com/36298417/93741834-b2130c80-fc1f-11ea-9806-552df48401d5.png)

[2020-09-21 08:50] JiaxiangBU commented on #61
@slsongge

[code]

    0 ('Fair', 'I1')      cut color clarity   n
    0   Fair     D      I1   4
    8   Fair     E      I1   9
    15  Fair     F      I1  35
    23  Fair     G      I1  53
    31  Fair     H      I1  52
    38  Fair     I      I1  34
    45  Fair     J      I1  23
    <class 'pandas.core.frame.DataFrame'>
    <class 'pandas.core.series.Series'>
    (1, 7)

因此充分了解其中的结构，固定进行转置`.T`

[2020-09-25 03:48] #61 closed, assigned to JiaxiangBU

[2020-09-25 04:36] slsongge opened #62 "python数据处理：列表拼接为字典"
### 问题
如下图，我有一个列表，想转换为第三行的字典的样式：
![image](https://user-images.githubusercontent.com/36298417/94226968-93688a80-ff2b-11ea-9a60-f9a40502a390.png)

### 数据
[code]

[2020-09-25 06:01] slsongge commented on #62
我刚才找到了一个解决方法，如下
[code]

![image](https://user-images.githubusercontent.com/36298417/94231865-6d48e780-ff37-11ea-8b20-04abf0f60743.png)

[2020-09-25 06:33] JiaxiangBU commented on #62
@slsongge

[code]

[code]

[code]

    True

[code]

    True

[2020-09-25 06:33] #62 closed, assigned to JiaxiangBU